page-savr {

}

.savr-one-cir-text {
  text-align: center;
  font-size: 24px;
  padding-top: 26px;
  color: white;
}

.savr-one-cir {
  background: #F64747;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.savr-two-cir {
  background: #FABE58;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.savr-three-cir {
  background: #03C9A9;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.savr-four-cir {
  background: #6BB9F0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.savr-five-cir {
  background: #F62459;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.savr-six-cir {
  background: #00E640;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
