page-health {

}

.health-one-cir {
  background: #3A539B;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.health-two-cir {
  background: #22A7F0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.health-three-cir {
  background: #86E2D5;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
