page-eight {

}

.shield-image {
  max-width: 60%;
  max-height: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

.shield-card {
  margin-top: 35%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background: #C8F7C5;
  text-align: center;
  padding: 10px 16px;
}

.shield-text {
  font-weight: 300;
  font-size: 18px;
}
