page-two {

}

.heart-image {
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

.heart-card {
  margin-top: 45%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background: #FFB6C1;
  text-align: center;
  padding: 10px 16px;
}

.heart-text {
  font-weight: 300;
  font-size: 20px;
}
