page-eleven {

}

.civil-image {
  max-width: 60%;
  max-height: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

.civil-card {
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background: #E4F1FE;
  text-align: center;
  padding: 10px 16px;
}

.civil-text {
  font-weight: 300;
  font-size: 18px;
}
